/* default */
div {
  margin: 0;
}

header {
  margin: 0;
  display: block;
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

button {
  background: none;
  border: none;
  outline: none;
}

/* nav bar */
.container {
  position: relative;
  top: 0;
  width: 100%;
  height: 87px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#page-title {
  position: relative;
  height: 54px;
  top: 50%;
  transform: translateY(-50%);
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 3em;

  /* or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.645em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #f40000;
}

#settings {
  position: relative;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 20px;
  padding: 10px;

  /* or 80% */

  text-align: center;
  letter-spacing: 0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  border: 1px solid black;
  color: #73b92d;
}

#logo {
  position: relative;
  height: 55px;
  top: 50%;
  transform: translateY(-50%);
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  padding: 10px;

  /* or 120% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #6acb09;
}

#logo-image {
  padding: 5px;
}


/* Main */
#progress-bar {
  padding: 50px;
  position: relative;
  align-items: center;
  width: 50%;
  height: 92px;
  left: 50%;
  transform: translateX(-50%);
}

#progress-tomato {
  position: absolute;
  left: 15%;
  transform: translateX(-50%);
}

#progress-background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#timer {
  top: 30px;
  position: relative;
  height: 500px;
}

#timer-background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#play-button {
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 300px;
  z-index: 0;
  background-size: 100%;
  background-image: url('./assets/playButton.svg');
}

/* Task List */
#task-container {
  position: relative;
}

#task-list {
  position: relative;
  background-color: #ffe390;
  color: #b50000;
}

#task-icon {
  position: relative;
  height: 2rem;
  width: 3rem;
}

#task-queue {
  position: relative;
  background-color: #f3e5d8;
  color: #be1c12;
}

#task-add-button {
  position: relative;
  background-color: #8d3434;
  color: #f4bfbf;
  border: 2px solid #8d3434;
  border-radius: 3px;
}


/* Background / section */
#main-background {
  position: absolute;
  top: 0;
  padding-top: 0;
  width: 10vw;
  height: 100vh;
  left: -1px;
  z-index: -5;
}

body {
  background-image: url('./assets/background.svg');
  background-size: 100%;
  width: 100%;
  height: 100vh;
}
